*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #231C1A;
    /* border: 5px #9d8199 solid;
    padding: 30px 50px;
    margin: 30px; */
    color:white;
    height:80px;
    width:100%;
    position:fixed;
}
header a{
    color:white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
header ul{
    position: absolute;
    right:5vw;
    top:0;
    line-height: 80px;
}
h1{
    position: absolute;
    left:120px;
    top:0px;
    line-height: 80px;
    background-image: url(resource/Finding\ The\ Light\ Logo.png);
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 60px;
    text-indent: 100px;
}
.team-name{
    color:#F2932F;
}
.game-title{
    color:#FFEC9D;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    color:white;
    height:95vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("resource/news_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news h2{
    font-size: 60px;
    margin-top: 60;
}
.news p{
    font-size: 18px;
    margin: 25px 0;
    color:#FEF7E6
}
header li{
    display:inline;
    margin-right: 4vw;
}
.menu{
    display: none;
}
.分隔線{
    padding: 75px;
    background-color: #0B0E14;
}
.new_boss{
    display: flex;
}
.new_boss img{
    width:50%;
}
.info{
    width:50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.info h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.info p{
    text-align: center;
    line-height: 2em;
}
.魔王技能{
    display: flex;
    background-color: #ede9db;
    justify-content: space-between;
    align-items: center;
    padding:100px 180px 80px;
}
.魔王技能 div{
    width:300px;
    text-align: center;
}
.魔王技能 img{
    width:100%;
    border-radius: 10px;
}
/* 響應式語法 */
@media screen and (max-width:1000px){
    header ul{
        display: none;
    }
    /* header h1{
        
        left:50%;
        transform:translateX(-50%);
    } */
    .news h2{
        font-size: 40px;
    }
    .menu{
        display: block;
        background-color: transparent;
        color:white;
        font-size: 35px;
        position:absolute;
        top:15px;
        left:20px;
        border:none;
        cursor:pointer;
    }
}